@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<br />
<br />
<br />

<p>Check out <a href=" https://baconsale.com/">my podcasts</a>.</p>


